@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');

body {
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

.logo{
        height: 280px;
}
@media (max-width: 991px) {
    .logo {
        height: 100px;
    }
}
@media (min-width: 992px) {
    #topNavLinks .nav-link{
        padding-left: 2rem;
        padding-right: 2rem;
        border: 2px solid #000;
        border-top-width: 4px;
        border-bottom-width: 4px;
        font-size: 1.2em;
        font-weight: 600;
        color: black;
    }

    #topNavLinks .nav-item:first-child .nav-link {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-left-width: 4px;
    }
    #topNavLinks .nav-item:last-child .nav-link {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-right-width: 4px;
    }
    #topNavLinks .nav-item.active .nav-link,
    #topNavLinks .nav-item:hover .nav-link {
        background-color: #000000;
        color:#ffffff;
    }
}


/* home section */
#home {
    min-height: 600px;
    display: flex;
    align-self: center;
}
#home h1,
#how-it-works h1, #why-it-works h1, #about h1, #faq h1, #contact h1 {
    font-weight: 900;
    font-size: 3rem;
}
.v-center {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    align-self: center;
}

.btn-brand{
    color:white;
    font-weight:600;
    font-size:24px;
    text-transform: uppercase;
    padding: 0.8rem 2.5rem;
}

.form-control{
    border-color:black;
    border-width:2px;
}

.btn-submit{
    background-color: black;
    padding: 0.5rem 2rem;
    color:white;
}

.card{
     border-color:black;
    border-width:2px;
}

.card-right-img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.light-text {
    color: rgba(255, 255, 255, 0.3);
}

.scroll{
    display: block;
    
    margin: auto;
}